<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSON-LD Meeting {{ page.date }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="JSON-LD Working Group" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="description" content="The mission of the JSON-LD Working Group is to update the JSON-LD 1.0 specifications to address specific usability or technical issues based on the community's experiences, implementer feedback, and requests for new features." />
    {% if page.json-ld %}
    <script type="application/ld+json">{{ page.json-ld }}</script>
    {% endif %}

    <link rel="stylesheet" href="https://www.w3.org/2018/json-ld-wg/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function cleanmd() {
            var as = document.getElementsByTagName('a');
            for (var i = 0; i < as.length; i++) {
                var a = as[i];
                var href = a.getAttribute("href");
                if (href) {
                    if (href.startsWith('id:')) {
                        /* yes, this is an id value in the markdown sense */
                        a.setAttribute("id",href.slice(3));
                        a.removeAttribute("href")
                    }
                }
            }
        }
        window.onload = cleanmd;
    </script>
    <style media="screen">
        .resolution {
            color: red;
        }
        .action {
            color: green;
        }
        .summary {
            color:teal
        }
        .proposed_resolution {
            color:slateblue
        }
        .draft_notice {
            font-size: 1.3em;
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
    {% include header.html %}
    <main>
        {% include nav.html %}
        <section id='content'>
            {{ content }}
        </section>
    </main>
    {% include footer.html %}
</body>
</html>
